<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>FontsCli</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Lobster.ttf</string>
		<string>KellySlab.ttf</string>
		<string>TrainOne.ttf</string>
		<string>Caveat.ttf</string>
		<string>Amatic.ttf</string>
		<string>OrelegaOne.ttf</string>
		<string>NeonPlanet.ttf</string>
		<string>GreatVibes.ttf</string>
		<string>DancingScript.ttf</string>
		<string>AlexBrush.ttf</string>
		<string>Cinzel.ttf</string>
		<string>Allura.ttf</string>
		<string>Sacramento.ttf</string>
		<string>Tangerine.ttf</string>
		<string>MajorMono.ttf</string>
		<string>SpecialElite.ttf</string>
		<string>Pompiere.ttf</string>
		<string>Neoneon.otf</string>
		<string>FasterOne.ttf</string>
		<string>AstroSpace.ttf</string>
		<string>Neonblitz.ttf</string>
		<string>Klaxons.otf</string>
		<string>NEOND.otf</string>
		<string>Lavanda.otf</string>
		<string>Calama.ttf</string>
		<string>Frisky.otf</string>
		<string>Glitch.ttf</string>
		<string>HitchHike.otf</string>
		<string>Kelvinch.otf</string>
		<string>Lapsus.otf</string>
		<string>Moon.ttf</string>
		<string>Nautilus.otf</string>
		<string>Peace.ttf</string>
		<string>SomeTimeLater.otf</string>
		<string>Philosopher.ttf</string>
		<string>Airfool.otf</string>
		<string>BadScript.ttf</string>
		<string>Balkara.ttf</string>
		<string>Blogger.otf</string>
		<string>Bondi.otf</string>
		<string>Borough.otf</string>
		<string>Bosk.otf</string>
		<string>Brusnika.otf</string>
		<string>Libra.otf</string>
		<string>Calypso.ttf</string>
		<string>KaushanScript.ttf</string>
		<string>Caviar.ttf</string>
		<string>Chekharda.ttf</string>
		<string>Courier.otf</string>
		<string>Dobrozrachniy.ttf</string>
		<string>DsGoose.ttf</string>
		<string>Engine.otf</string>
		<string>Evander.otf</string>
		<string>Felora.otf</string>
		<string>Forum.ttf</string>
		<string>Gagalin.otf</string>
		<string>GaretHeavy.otf</string>
		<string>GochiHand.otf</string>
		<string>Gravtrac.otf</string>
		<string>HiMelody.otf</string>
		<string>InterHewn.otf</string>
		<string>Joystix.ttf</string>
		<string>KazmannSans.ttf</string>
		<string>Krabuler.otf</string>
		<string>Lemon.otf</string>
		<string>LeoHand.ttf</string>
		<string>Lighthaus.otf</string>
		<string>Literata.ttf</string>
		<string>Lletraferida.otf</string>
		<string>Magnolia.otf</string>
		<string>Marske.ttf</string>
		<string>Measure.otf</string>
		<string>Moiamova.otf</string>
		<string>Molodo.otf</string>
		<string>MonlyLite.otf</string>
		<string>MetroColor.otf</string>
		<string>MoscowMetro.otf</string>
		<string>MrLonely.otf</string>
		<string>MulticolorePro.otf</string>
		<string>NewYear.otf</string>
		<string>Oranienbaum.ttf</string>
		<string>OwnHand.ttf</string>
		<string>Paperfiller.otf</string>
		<string>Pecita.otf</string>
		<string>Pehlevi.ttf</string>
		<string>Celestina.otf</string>
		<string>PinkPoppy.ttf</string>
		<string>RumRaisin.otf</string>
		<string>SanFrancisco.ttf</string>
		<string>Storytella.otf</string>
		<string>SweetMavka.ttf</string>
		<string>TagType.ttf</string>
		<string>TT2020Base.ttf</string>
		<string>MoyQelem.ttf</string>
		<string>UpheavalPro.otf</string>
		<string>Wes.otf</string>
		<string>Yarin.otf</string>
		<string>Yeseva.otf</string>
		<string>Zantroke.otf</string>
		<string>Zyablik.ttf</string>
		<string>Stick.ttf</string>
		<string>Pacifico.ttf</string>
		<string>Jura.ttf</string>
		<string>MontserratAlternates.ttf</string>
		<string>RussoOne.ttf</string>
		<string>Alegreya.ttf</string>
		<string>Zekton.ttf</string>
		<string>Ruslan.ttf</string>
		<string>Abrushow.otf</string>
		<string>Brosh.otf</string>
		<string>ColorTube.otf</string>
		<string>DNPixel.otf</string>
		<string>Fattern.otf</string>
		<string>GhiyaStrokes.ttf</string>
		<string>GilbertColor.otf</string>
		<string>Gilbert.otf</string>
		<string>GlyphsSapperlot.otf</string>
		<string>HeyOctober.otf</string>
		<string>Pencil.ttf</string>
		<string>SpaceTime.ttf</string>
		<string>Unround.otf</string>
		<string>Aperture.ttf</string>
		<string>Beloved.ttf</string>
		<string>Broker.ttf</string>
		<string>CarlaSans.ttf</string>
		<string>Exodar.ttf</string>
		<string>Foregen.ttf</string>
		<string>Gaoel.ttf</string>
		<string>Kaelia.ttf</string>
		<string>NEON1.ttf</string>
		<string>PinkBlue.ttf</string>
		<string>Rookworst.ttf</string>
		<string>Fascinate.ttf</string>
		<string>Frijole.ttf</string>
		<string>Monoton.ttf</string>
		<string>Butcherman.ttf</string>
		<string>Smokum.ttf</string>
		<string>Ultra.ttf</string>
		<string>Orbitron.ttf</string>
		<string>BungeeShade.ttf</string>
		<string>BungeeInline.otf</string>
		<string>BungeeOutline.otf</string>
		<string>MysteryQuest.ttf</string>
		<string>Shojumaru.ttf</string>
		<string>Eater.ttf</string>
		<string>Nosifer.ttf</string>
		<string>Barrio.ttf</string>
		<string>Akronim.ttf</string>
		<string>CinzelDecorative.ttf</string>
		<string>SnowburstOne.ttf</string>
		<string>Limelight.ttf</string>
		<string>CabinSketch.ttf</string>
		<string>Ewert.ttf</string>
		<string>Monofett.ttf</string>
		<string>Kalam.ttf</string>
		<string>Ribeye.ttf</string>
		<string>Kranky.ttf</string>
		<string>Skranji.ttf</string>
		<string>GrandHotel.ttf</string>
		<string>CaesarDressing.ttf</string>
		<string>Supermercado.ttf</string>
		<string>PermanentMarker.ttf</string>
		<string>FrederickaTheGreat.ttf</string>
		<string>RibeyeMarrow.ttf</string>
		<string>UncialAntiqua.ttf</string>
		<string>ShadowsIntoLight.ttf</string>
		<string>Sail.ttf</string>
		<string>MountainsOfChristmas.ttf</string>
		<string>IndieFlower.ttf</string>
		<string>Modak.ttf</string>
		<string>Creepster.ttf</string>
		<string>AbrilFatface.ttf</string>
		<string>Amydor.ttf</string>
		<string>Welcome.ttf</string>
		<string>RetroPop.ttf</string>
		<string>Digital.ttf</string>
		<string>TimeBurner.ttf</string>
		<string>Facon.ttf</string>
		<string>Hillock.ttf</string>
		<string>Heavy.ttf</string>
		<string>BebasNeue.otf</string>
		<string>Virus.otf</string>
		<string>Blox.ttf</string>
		<string>Dacquoise.ttf</string>
		<string>Clip.ttf</string>
		<string>Squealer.ttf</string>
		<string>Coiny.ttf</string>
		<string>Beon.ttf</string>
		<string>Shrikhand.ttf</string>
		<string>ChunkFivePrint.ttf</string>
		<string>Typographer.ttf</string>
		<string>CherrySwash.ttf</string>
		<string>Automania.ttf</string>
		<string>KingthingsPoppalok.ttf</string>
		<string>SeasideResort.ttf</string>
		<string>PicoBlack.ttf</string>
		<string>Mexcellent.otf</string>
		<string>MexicanTequila.ttf</string>
		<string>Neoneox.otf</string>
		<string>ShohlFold.ttf</string>
		<string>FonartoXT.ttf</string>
		<string>Fonarto.ttf</string>
		<string>Broadway.ttf</string>
		<string>Merkin.ttf</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
